.image-editor-container {
    width: 100%;
    height: 100%;
    position: fixed !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    background-color: #000000;

    * {
        box-sizing: border-box;
    }
}

.working-zone {
    width: calc(100vw - 400px);
    height: 100%;
    position: absolute;
}

.top-controls {
    width: 100%;
    height: 64px;
    position: absolute;
    top: 0;
    display: none;
}

.editing-image-zone {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.editing-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay-canvas {
    position: absolute;
}

.image-editor-bottom-controls {
    width: 100%;
    height: 128px;
    position: absolute;
    bottom: 0;
    display: none;
}

.edit-panel {
    width: 400px;
    height: 100%;
    position: absolute;
    right: 0;
    background-color: #212121;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.edit-panel-icon-button {
    color: #AAAAAA;
}

.edit-panel-app-bar {
    width: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .1);
}

.edit-panel-navbar {
    width: 100%;
    height: 56px;
    padding: 0px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 12px;
}

.edit-panel-navbar-title {
    flex-grow: 1;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}

.edit-panel-tabs {
    width: 100%;
    height: 48px;
    padding: 0px 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.edit_panel-tab {

}

.edit-controls {
    width: 100%;
    padding: 24px 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    overflow-y: auto;
}

.save-media-button {
    width: 56px;
    height: 56px;
    position: absolute;
    right: 16px;
    bottom: 16px;
    background-color: #4E8EE5;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .1);
    cursor: pointer;
    z-index: 1;
}

.save-media-button-icon {
    color: #FFFFFF;
    font-size: 16px;
    cursor: inherit;
}

.image-editor-caption {
    color: #AAAAAA;
    font-size: 16px;
    font-weight: 500;
}



.transform-controls {
    gap: 4px;
}

.transform-controls-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
}

.transform-controls-grid-item {
    flex-basis: calc(50% - 2px);
}

.crop-frame {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-color: #FFFFFF;
    background-image:
        linear-gradient(to right, transparent calc(100% / 3 - 1px), #FFFFFF calc(100% / 3), transparent calc(100% / 3 + 1px), transparent calc(200% / 3 - 1px), #FFFFFF calc(200% / 3), transparent calc(200% / 3 + 1px)),
        linear-gradient(to bottom, transparent calc(100% / 3 - 1px), #FFFFFF calc(100% / 3), transparent calc(100% / 3 + 1px), transparent calc(200% / 3 - 1px), #FFFFFF calc(200% / 3), transparent calc(200% / 3 + 1px));
    background-size: 100% 100%;
}



.text-controls {
    gap: 4px;
}

.text-controls-alignment-and-style-container {
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.text-controls-style-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


.draw-controls {
    gap: 4px;
}

.brush-image {
    width: 120px;
    height: 30px;
    margin-left: -16px;
    transition: ease-in-out .3s;
    pointer-events: none;
}

.brush-image.selected {
    margin-left: 0;
}

.brush-image-shadow {
    width: 48px;
    height: 48px;
    left: 12px;
    position: absolute;
    background: linear-gradient(to right, var(--brush-shadow-color, #212121), var(--brush-shadow-color, #212121) 40%, transparent);
    border-radius: 10px 0 0 10px;
}